body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:624px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17493 {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:624px;
}
#u17494 {
  position:absolute;
  left:2px;
  top:304px;
  width:1104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:102px;
}
#u17495 {
  position:absolute;
  left:0px;
  top:622px;
  width:1108px;
  height:102px;
}
#u17496 {
  position:absolute;
  left:2px;
  top:43px;
  width:1104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17497 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17498 {
  position:absolute;
  left:44px;
  top:632px;
  width:99px;
  height:85px;
}
#u17499 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17500 {
  position:absolute;
  left:172px;
  top:632px;
  width:99px;
  height:85px;
}
#u17501 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17502 {
  position:absolute;
  left:300px;
  top:632px;
  width:99px;
  height:85px;
}
#u17503 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17504 {
  position:absolute;
  left:427px;
  top:632px;
  width:99px;
  height:85px;
}
#u17505 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17506 {
  position:absolute;
  left:555px;
  top:632px;
  width:99px;
  height:85px;
}
#u17507 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17508 {
  position:absolute;
  left:683px;
  top:632px;
  width:99px;
  height:85px;
}
#u17509 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#949494;
}
#u17510 {
  position:absolute;
  left:13px;
  top:10px;
  width:249px;
  height:16px;
  font-size:13px;
  color:#949494;
}
#u17511 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u17512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:725px;
}
#u17512 {
  position:absolute;
  left:1106px;
  top:0px;
  width:233px;
  height:725px;
}
#u17513 {
  position:absolute;
  left:2px;
  top:354px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u17514 {
  position:absolute;
  left:1042px;
  top:299px;
  width:14px;
  height:27px;
}
#u17515 {
  position:absolute;
  left:2px;
  top:6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u17516 {
  position:absolute;
  left:50px;
  top:299px;
  width:14px;
  height:27px;
}
#u17517 {
  position:absolute;
  left:2px;
  top:6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u17518 {
  position:absolute;
  left:1118px;
  top:10px;
  width:137px;
  height:16px;
  color:#949494;
}
#u17519 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u17520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u17520 {
  position:absolute;
  left:1215px;
  top:170px;
  width:101px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u17521 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u17522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u17522 {
  position:absolute;
  left:1118px;
  top:170px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17523 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u17524 {
  position:absolute;
  left:1118px;
  top:220px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17525 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u17526 {
  position:absolute;
  left:1215px;
  top:220px;
  width:101px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u17527 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u17528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u17528 {
  position:absolute;
  left:1118px;
  top:195px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17529 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u17530 {
  position:absolute;
  left:1215px;
  top:195px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u17531 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u17532 {
  position:absolute;
  left:1118px;
  top:260px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17533 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u17534 {
  position:absolute;
  left:1215px;
  top:260px;
  width:101px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u17535 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u17536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u17536 {
  position:absolute;
  left:1118px;
  top:285px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17537 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u17538 {
  position:absolute;
  left:1215px;
  top:285px;
  width:101px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u17539 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u17540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u17540 {
  position:absolute;
  left:1118px;
  top:310px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17541 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u17542 {
  position:absolute;
  left:1215px;
  top:310px;
  width:101px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u17543 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u17544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u17544 {
  position:absolute;
  left:1260px;
  top:234px;
  width:16px;
  height:16px;
}
#u17545 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:37px;
}
#u17546 {
  position:absolute;
  left:382px;
  top:585px;
  width:344px;
  height:37px;
}
#u17547 {
  position:absolute;
  left:2px;
  top:10px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17548 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17549 {
  position:absolute;
  left:1149px;
  top:90px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17549_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17549.selected {
}
#u17550 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u17551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17551 {
  position:absolute;
  left:1229px;
  top:90px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17551_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17551.selected {
}
#u17552 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u17553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u17553 {
  position:absolute;
  left:1113px;
  top:49px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17554 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17555 {
  position:absolute;
  left:1202px;
  top:46px;
  width:116px;
  height:18px;
}
#u17555_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
}
#u17555_input:disabled {
  color:grayText;
}
#u17556 {
  position:absolute;
  left:1217px;
  top:120px;
  width:101px;
  height:18px;
}
#u17556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17557 {
  position:absolute;
  left:1166px;
  top:120px;
  width:41px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17557_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17557.selected {
}
#u17558 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u17559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u17559 {
  position:absolute;
  left:1118px;
  top:153px;
  width:200px;
  height:1px;
}
#u17560 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u17561 {
  position:absolute;
  left:1268px;
  top:496px;
  width:55px;
  height:23px;
  font-size:10px;
}
#u17562 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u17563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u17563 {
  position:absolute;
  left:1135px;
  top:496px;
  width:55px;
  height:23px;
  font-size:10px;
}
#u17564 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u17565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u17565 {
  position:absolute;
  left:1203px;
  top:496px;
  width:55px;
  height:23px;
  font-size:10px;
}
#u17566 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u17567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u17567 {
  position:absolute;
  left:1300px;
  top:10px;
  width:16px;
  height:16px;
}
#u17568 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:477px;
}
#u17569 {
  position:absolute;
  left:240px;
  top:79px;
  width:628px;
  height:477px;
}
#u17570 {
  position:absolute;
  left:2px;
  top:230px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u17571 {
  position:absolute;
  left:1300px;
  top:310px;
  width:16px;
  height:16px;
}
#u17572 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
