body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:705px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:705px;
  height:935px;
}
#u28941 {
  position:absolute;
  left:0px;
  top:135px;
  width:705px;
  height:935px;
}
#u28942 {
  position:absolute;
  left:2px;
  top:460px;
  width:701px;
  visibility:hidden;
  word-wrap:break-word;
}
