body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:624px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17673 {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:624px;
}
#u17674 {
  position:absolute;
  left:2px;
  top:304px;
  width:1104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:102px;
}
#u17675 {
  position:absolute;
  left:0px;
  top:622px;
  width:1108px;
  height:102px;
}
#u17676 {
  position:absolute;
  left:2px;
  top:43px;
  width:1104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17678 {
  position:absolute;
  left:44px;
  top:632px;
  width:99px;
  height:85px;
}
#u17679 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17680 {
  position:absolute;
  left:172px;
  top:632px;
  width:99px;
  height:85px;
}
#u17681 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17682 {
  position:absolute;
  left:300px;
  top:632px;
  width:99px;
  height:85px;
}
#u17683 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17684 {
  position:absolute;
  left:427px;
  top:632px;
  width:99px;
  height:85px;
}
#u17685 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17686 {
  position:absolute;
  left:555px;
  top:632px;
  width:99px;
  height:85px;
}
#u17687 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:85px;
}
#u17688 {
  position:absolute;
  left:683px;
  top:632px;
  width:99px;
  height:85px;
}
#u17689 {
  position:absolute;
  left:2px;
  top:34px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#949494;
}
#u17690 {
  position:absolute;
  left:13px;
  top:10px;
  width:249px;
  height:16px;
  font-size:13px;
  color:#949494;
}
#u17691 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u17692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:725px;
}
#u17692 {
  position:absolute;
  left:1106px;
  top:0px;
  width:233px;
  height:725px;
}
#u17693 {
  position:absolute;
  left:2px;
  top:354px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u17694 {
  position:absolute;
  left:1042px;
  top:299px;
  width:14px;
  height:27px;
}
#u17695 {
  position:absolute;
  left:2px;
  top:6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u17696 {
  position:absolute;
  left:50px;
  top:299px;
  width:14px;
  height:27px;
}
#u17697 {
  position:absolute;
  left:2px;
  top:6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#949494;
}
#u17698 {
  position:absolute;
  left:1118px;
  top:10px;
  width:137px;
  height:16px;
  color:#949494;
}
#u17699 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u17700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#949494;
}
#u17700 {
  position:absolute;
  left:1220px;
  top:164px;
  width:101px;
  height:15px;
  font-size:12px;
  color:#949494;
}
#u17701 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u17702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u17702 {
  position:absolute;
  left:1123px;
  top:164px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17703 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u17704 {
  position:absolute;
  left:1123px;
  top:328px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17705 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:37px;
}
#u17706 {
  position:absolute;
  left:382px;
  top:585px;
  width:344px;
  height:37px;
}
#u17707 {
  position:absolute;
  left:2px;
  top:10px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17708 {
  position:absolute;
  left:1154px;
  top:93px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17708_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17708.selected {
}
#u17709 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u17710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17710 {
  position:absolute;
  left:1234px;
  top:93px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17710_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17710.selected {
}
#u17711 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u17712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
}
#u17712 {
  position:absolute;
  left:1118px;
  top:52px;
  width:89px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17713 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u17714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u17714 {
  position:absolute;
  left:1123px;
  top:153px;
  width:200px;
  height:1px;
}
#u17715 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17716 {
  position:absolute;
  left:1207px;
  top:49px;
  width:116px;
  height:18px;
}
#u17716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
}
#u17716_input:disabled {
  color:grayText;
}
#u17717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u17717 {
  position:absolute;
  left:1268px;
  top:496px;
  width:55px;
  height:23px;
  font-size:10px;
}
#u17718 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u17719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u17719 {
  position:absolute;
  left:1135px;
  top:496px;
  width:55px;
  height:23px;
  font-size:10px;
}
#u17720 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u17721 {
  position:absolute;
  left:1222px;
  top:326px;
  width:101px;
  height:18px;
}
#u17721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:15px;
}
#u17722 {
  position:absolute;
  left:1104px;
  top:191px;
  width:108px;
  height:15px;
  font-size:12px;
  color:#949494;
  text-align:right;
}
#u17723 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u17724 {
  position:absolute;
  left:1222px;
  top:189px;
  width:101px;
  height:18px;
}
#u17724_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17725 {
  position:absolute;
  left:1222px;
  top:216px;
  width:101px;
  height:18px;
}
#u17725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
}
#u17725_input:disabled {
  color:grayText;
}
#u17726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
}
#u17726 {
  position:absolute;
  left:1151px;
  top:218px;
  width:61px;
  height:15px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u17727 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u17728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u17728 {
  position:absolute;
  left:1133px;
  top:354px;
  width:79px;
  height:16px;
  color:#999999;
}
#u17729 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u17730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u17730 {
  position:absolute;
  left:1133px;
  top:382px;
  width:79px;
  height:16px;
  color:#999999;
}
#u17731 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u17732 {
  position:absolute;
  left:1222px;
  top:354px;
  width:101px;
  height:18px;
}
#u17732_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17733 {
  position:absolute;
  left:1222px;
  top:381px;
  width:101px;
  height:18px;
}
#u17733_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u17734 {
  position:absolute;
  left:1146px;
  top:300px;
  width:66px;
  height:16px;
  color:#999999;
}
#u17735 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17736 {
  position:absolute;
  left:1222px;
  top:299px;
  width:101px;
  height:18px;
}
#u17736_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
}
#u17736_input:disabled {
  color:grayText;
}
#u17737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17737 {
  position:absolute;
  left:1172px;
  top:244px;
  width:40px;
  height:16px;
  color:#999999;
}
#u17738 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17739 {
  position:absolute;
  left:1172px;
  top:272px;
  width:40px;
  height:16px;
  color:#999999;
}
#u17740 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17741 {
  position:absolute;
  left:1222px;
  top:244px;
  width:101px;
  height:18px;
}
#u17741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
}
#u17741_input:disabled {
  color:grayText;
}
#u17742 {
  position:absolute;
  left:1222px;
  top:271px;
  width:101px;
  height:18px;
}
#u17742_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
}
#u17742_input:disabled {
  color:grayText;
}
#u17743 {
  position:absolute;
  left:1222px;
  top:123px;
  width:101px;
  height:18px;
}
#u17743_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17744 {
  position:absolute;
  left:1171px;
  top:123px;
  width:41px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17744_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 255, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u17744.selected {
}
#u17745 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u17746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u17746 {
  position:absolute;
  left:1300px;
  top:10px;
  width:16px;
  height:16px;
}
#u17747 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:523px;
}
#u17748 {
  position:absolute;
  left:353px;
  top:35px;
  width:391px;
  height:523px;
}
#u17749 {
  position:absolute;
  left:2px;
  top:254px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u17750 {
  position:absolute;
  left:1203px;
  top:496px;
  width:55px;
  height:23px;
  font-size:10px;
}
#u17751 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
