body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:653px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:925px;
}
#u9311 {
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:925px;
}
#u9312 {
  position:absolute;
  left:2px;
  top:454px;
  width:649px;
  visibility:hidden;
  word-wrap:break-word;
}
